<section class="container modal-fix">
	<legend>Add an Item to the Portfolio</legend>
	<form ng-submit="formSubmit()">
		<div class="form-group col-xs-12">
			<label for="type">Type: </label>
	    <select type="select" class="form-control" id="type" ng-model="security.type">
	    	<option value="STOCK">STOCK</option>
	    	<option value="BOND">BOND</option>
	    	<option value="FUND">FUND</option>
	    </select>
	  </div>
	  <div class="form-group col-xs-12">
	  	<label for="symbol">Symbol: </label>
	    <input type="text" class="form-control" id="symbol" ng-model="security.symbol" placeholder="SYMBOL">
	  </div>
	  <div class="form-group col-xs-12">
	  	<label for="type">Price: </label>
	    <input type="number" class="form-control" id="price" ng-model="security.price" placeholder="PRICE">
	  </div>
	 	<div class="form-group col-xs-12">
	 		<label for="shares">Shares: </label>
	    <input type="number" class="form-control" id="shares" ng-model="security.shares" placeholder="SHARES">
	  </div>
	  <div class="form-group col-xs-12">
	  	<label for="value">Value: </label>
	    <div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn" type="button" ng-click="switchAuto()"
	        	ng-class="{'btn-primary':security.value === 'auto'}">Auto</button>
	        <button class="btn" type="button" ng-click="switchManual()"
	        	ng-class="{'btn-primary':security.value != 'auto'}">Manual:</button>
	      </span>
	      <input type="number" class="form-control" ng-model="security.value" ng-disabled="(security.value === 'auto')">
	    </div>
    </div>
	  <button type="submit" class="btn btn-primary margin-more">Add Item</button>
	  <a ng-click="closeModal()" class="btn btn-default">Cancel</a>
	  <a ng-show="security.portfolioID" ng-click="deleteSecurity()" class="btn btn-danger pull-right margin-more">Delete Security</a>
	</form>
</section>