<section>
	<div google-chart class="pie" chart="myChartObject"></div>
</section>

<section class="container toggler" ng-if="toggleEnabled">
	<div class="btn-group">
    <label class="btn btn-primary btn-xs" ng-click="togglePie('percentage')"
    	ng-class="{'active': (pieSliceText === 'percentage')}">
    	Percent
    </label>
    <label class="btn btn-primary btn-xs" ng-click="togglePie('value')"
    	ng-class="{'active': (pieSliceText === 'value')}">
    	Value
    </label>
	</div>
</section>

<section class="container">
	<table class="table table-hover table-condensed">
		<tr>
			<th>Type</th>
			<th>Symbol</th>
			<th>Price</th>
			<th>Shares</th>
			<th>Value</th>
		</tr>
		<tr ng-repeat="s in data">
			<td>{{s.type}}</td>
			<td>{{s.symbol}}</td>
			<td>{{s.price}}</td>
			<td>{{s.shares}}</td>
			<td>{{values[$index]}}</td>
		</tr>
	</table>
</section>

<section class="">

</section>

<!-- <section class="container">
	<ul>
		<li><strong>Value of All Securities: {{stockVal + bondVal + fundVal}}</strong></li>
		<li>Value of Stocks: {{stockVal}}
		<li>Value of Bonds: {{bondVal}}
		<li>Value of Funds: {{fundVal}}
	<ul>
</section> -->