div.pie{
	height: 100vw; max-height: 50vh;
}

ul{
	text-align: center;
	list-style: none; padding-left: 0;
}

li{
	display: block;
}

section.toggler{
	display: block;
	width: 100%;
	text-align: center;
}

section{
	margin-bottom: 20px;
}

select#type{
	width: 80pt;
}